{
    "tabWidth": 4,
    "semi": false,
    "trailingComma": "es5",
    "printWidth": 100,
    "svelteBracketNewLine": true,
    "plugins": ["prettier-plugin-svelte"],
    "pluginSearchDirs": ["."],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ]
}
